body,input,textarea,select,button{font-size:14px;font-family:"microsoft yahei","宋体";line-height:1.5;color:#727b8b}
input,textarea,select,button{vertical-align:middle}
body,dd,dl,h1,h2,h3,h4,h5,h6,ol,p,ul,form,fieldset,table{margin:0}
h1,h2,h3,h4,h5{font-weight:500;}
table{border-collapse:collapse;border-spacing:0}
img{vertical-align:middle;border:0}
ol,ul{list-style:none;padding:0}
a{color:inherit;text-decoration:none}

.clearfix:after{content:"\200B";display:block;height:0;clear:both;}
.clearfix{*zoom:1;}
.w1000{width:1000px;margin:auto;}
.bbwhite{border-bottom:1px solid #fff;}
.fl{float:left;}.fr{float:right;}
.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt40{margin-top:40px;}
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.font12{font-size:12px;}.font14{font-size:14px;}.font16{font-size:16px;}
.bold{font-weight:600;}
.red{color:#f00;}
.orange{color:#f60;}
.clear{clear:both;}
.pr{position:relative;}.pa{position:absolute;}
.aw-constr{width:1200px;margin-left:auto;margin-right:auto;}

.aw-header{position:relative;height:70px;background-color:#fff;}
.gotoold{position:absolute;right:10px;top:23px;}
.aw-logo{float:left;width:196px;height:37px;margin-top:17px;background:url(../images/aw-logo.png) no-repeat;}
.aw-logo h1{position:absolute;top:-100px;}
.aw-nav{float:right;}
.aw-nav li{float:left;}
.aw-nav li>a{position:relative;float:left;height:70px;margin:0 16px;line-height:70px;font-size:16px;color:#3f3f3f;transition:.5s;}
.aw-nav li .current,.aw-nav li a:hover{color:#409eff;}
.aw-nav li .icon-line{float:left;margin:23px 8px 0;font-family:"song ti";color:#e1e1e1;}
.aw-nav-sub{display:none;position:absolute;top:70px;left:0;right:0;z-index:10;width:100%;height:50px;text-align:center;background-color:rgba(255,255,255,.65);}
.aw-nav li:hover .aw-nav-sub{display:block;}
.aw-nav-sub-right{float:right;width:750px;}
.aw-nav-sub a{display:inline-block;margin-left:20px;margin-right:20px;line-height:48px;color:#555;transition:all .1s ease;}
.aw-nav-sub a:hover,.aw-nav-sub a.cur{color:#1d78d6;border-bottom:2px solid #1d78d6;}

.index-banner{width:100%;height:848px;}
.index-banner .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.index-banner .swiper-slide1{background:url(../images/aw-banner01.jpg) no-repeat center;overflow:hidden;}
.index-banner .swiper-slide2{background:url(../images/aw-banner02.jpg) no-repeat center;overflow:hidden;}
.index-banner .swiper-slide3{background:url(../images/aw-banner03.jpg) no-repeat center;overflow:hidden;}
.index-banner .swiper-slide .aw-constr{position:relative;height:848px;}
.index-banner .swiper-slide .btn-more{position:absolute;left:0;top:460px;color:#fff;border-color:#fff;opacity:.65;}
.index-banner .swiper-slide .btn-more .icon-arrow-right{background-position:0 -7px;}
.index-banner .swiper-slide .btn-more:hover{background:none;opacity:1;}
.index-banner .swiper-slide1 .balloon1{position:absolute;top:105px;left:110px;width:55px;height:72px;background:url(../images/balloon1.png) no-repeat;}
.index-banner .swiper-slide1 .balloon2{position:absolute;top:202px;left:-85px;width:68px;height:87px;background:url(../images/balloon2.png) no-repeat;}
.index-banner .swiper-slide1 .tv{position:absolute;right:255px;bottom:410px;width:54px;height:59px;background:url(../images/tv.png) no-repeat;}
.index-banner .swiper-slide1 .aircraft{position:absolute;left:185px;top:150px;width:319px;height:212px;background:url(../images/aircraft.png) no-repeat;}
.index-banner .swiper-slide1 .cloud1{position:absolute;left:45px;top:380px;width:34px;height:37px;background:url(../images/cloud1.png) no-repeat;}
.index-banner .swiper-slide1 .cloud2{position:absolute;left:320px;top:105px;width:62px;height:63px;background:url(../images/cloud2.png) no-repeat;}
.index-banner .swiper-slide1 .cloud3{position:absolute;left:558px;top:288px;width:75px;height:81px;background:url(../images/cloud3.png) no-repeat;}
.index-banner .swiper-slide1 .cloud4{position:absolute;right:475px;top:560px;width:94px;height:100px;background:url(../images/cloud4.png) no-repeat;}
.index-banner .swiper-slide1 .cloud5{position:absolute;right:405px;top:115px;width:38px;height:38px;background:url(../images/cloud5.png) no-repeat;}
.index-banner .swiper-slide1 .cloud6{position:absolute;right:-50px;top:198px;width:62px;height:60px;background:url(../images/cloud6.png) no-repeat;}
.index-banner .swiper-slide2 .swiper-slide2-title{position:absolute;width:721px;height:155px;top:322px;left:0;background:url(../picture/banner02/title.png) no-repeat;}
.index-banner .swiper-slide3 .swiper-slide3-title{position:absolute;width:587px;height:155px;top:322px;left:132px;left:0;background:url(../picture/banner03/title.png) no-repeat;}
.index-banner img{ position:absolute;transition: all .3s ease;} 
.swiper-slide2 img:nth-of-type(1){ left:830px;top:300px; z-index:0;} 
.swiper-slide2 img:nth-of-type(2){ left:1125px;top:180px; z-index:1;} 
.swiper-slide2 img:nth-of-type(3){ left:915px;top:215px; z-index:2;} 
.swiper-slide2 img:nth-of-type(4){ left:915px;top:560px; z-index:3;} 
.swiper-slide2 img:nth-of-type(5){ left:825px;top:280px; z-index:4;} 
.swiper-slide3 img:nth-of-type(1){ left:670px;top:175px; z-index:0;} 
.swiper-slide3 img:nth-of-type(2){ left:965px;top:175px; z-index:1;transition: all .15s ease;} 
.swiper-slide3 img:nth-of-type(3){ left:765px;top:602px; z-index:2;} 
.swiper-slide3 img:nth-of-type(4){ left:610px;top:270px; z-index:3;} 
.swiper-slide3 img:nth-of-type(5){ left:950px;top:265px; z-index:4;} 

.index-banner .swiper-container-horizontal>.swiper-pagination-bullets,.index-banner .swiper-pagination-custom,.index-banner .swiper-pagination-fraction{bottom:60px;}
.index-banner .swiper-pagination-bullet{width:80px;height:5px;border-radius:0;background:none;border-bottom:3px solid #fff;opacity:.4;}
.index-banner .swiper-pagination-bullet-active{border-bottom:3px solid #fff;opacity:1;}

.aw-index-title{padding-top:80px;text-align:center;}
.aw-index-title-h2{display:inline-block;width:257px;height:45px;font-size:0;line-height:0;overflow:hidden;}
.aw-index-title-p{margin-top:25px;font-size:18px;color:#a2a2a2;letter-spacing: 2px;}
.aw-index-title-qpyx{background:url(../images/font-qpgame.png) no-repeat;}
.aw-index-title-spzb{background:url(../images/font-spzb.png) no-repeat;}
.aw-index-title-xwzx{background:url(../images/font-xwzx.png) no-repeat;}
.aw-index-title-qywh{background:url(../images/font-qywh.png) no-repeat;}

.aw-index-qpgame{height:918px;background:url(../images/index-qpgame.jpg) no-repeat center;}
.aw-index-qpgame .aw-constr{position:relative;}
.aw-index-qpgame .aw-index-title{padding-top:175px;}
.aw-index-qpgame-ddz{position:absolute;top:120px;right:-80px;width:620px;height:635px;background:url(../images/img-dizhu-big.png) no-repeat;}
.aw-index-qpgame-text{width:650px;padding:0 25px;}
.aw-index-qpgame-about{margin-top:70px;font-size:16px;color:#727272;line-height:2;text-indent:2em;}
.btn-more{display:inline-block;width:170px;height:48px;margin-top:70px;text-align:center;font-size:16px;color:#666;line-height:48px;border:1px solid #ccc;transition:all .2s ease;}
.btn-more:hover{color:#fff;background-color:#409eff;border-color:#409eff;}
.icon-arrow-right{display:inline-block;width:15px;height:7px;margin-left:10px;background:url(../images/more-arrow.png) no-repeat;}
.btn-more:hover .icon-arrow-right{background-position:0 -7px;}

.aw-index-video{height:918px;background:url(../images/index-spzb.jpg) no-repeat center;}
.aw-index-video .aw-index-title-p{color:#fff;}
.aw-index-video-list{position:relative;width:100%;height:464px;margin-top:60px;background:url(../images/index-tv.png) no-repeat center;}
.aw-index-video-list li{position:absolute;width:232px;height:232px;text-align:center;color:#fff;font-size:24px;}
.aw-index-video-list li.video-show{top:0;left:0;}
.aw-index-video-list li.video-business{top:0;right:0;}
.aw-index-video-list li.video-game{bottom:0;left:412px;}
.aw-index-video-list li.video-live{bottom:0;right:0;}
.icon-video{display:block;width:104px;height:104px;margin:40px auto 20px;text-align:center;background:url(../images/index-video.png) no-repeat;background-color:rgba(255,255,255,.65);border-radius:50%;}
.icon-video-show{background-position:0 0;}
.icon-video-business{background-position:-100px 0;}
.icon-video-game{background-position:0 -100px;}
.icon-video-live{background-position:-100px -100px;}

.aw-index-news{height:918px;background:url(../images/index-xwzx.jpg) no-repeat center;}
.aw-index-news .aw-constr {width:1220px;}
.aw-index-news-wrap{width:100%;margin-top:65px;padding-top:10px;}
.aw-index-news-slider{float:left;width:580px;margin-left:10px;box-shadow:1px 1px 15px #d9e6f3;}
.aw-index-news-list-wrap{float:right;width:590px;margin-right:10px;}
.news-banner{width:100%;overflow:hidden;position:relative;}
.news-banner .swiper-slide{position:relative;text-align:center;}
.news-banner img{max-width:100%;display:block;}
.news-banner h4{height:25px;margin-right:15%;padding:25px 0 25px 25px;text-align:left;font-size:16px;line-height:25px;color:#333;}
.aw-index-news-slider .news-banner .swiper-pagination{position:absolute;z-index:20;left:auto;right:0;bottom:22px;width:auto;padding-right:15px;text-align:right;}
.aw-index-news-slider .news-banner .swiper-pagination-bullet{display:inline-block;width:13px;height:13px;margin:0 3px 0 0;background:#d4d5d5;border-radius:13px;border:4px solid #fff;cursor:pointer;opacity:1;}
.aw-index-news-slider .news-banner .swiper-pagination-bullet-active{background:#fff;border-color:#409eff;}
.tabs{width:100%;height:31px;border-bottom:1px solid #ccc;}
.tabs span{position:relative;z-index:10;top:0;bottom:0;display:inline-block;height:30px;padding:0 28px;font-size:18px;line-height:30px;color:#333;text-decoration:none;cursor:pointer;}
.tabs span.active{color:#409eff;font-weight:600;border-bottom:2px solid #409eff;}
.aw-index-news-top{height:45px;line-height:45px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:20px 0 10px;display:block;font-size:30px;color:#409eff;font-weight:600;}
.aw-index-news-list li{line-height:23px;margin-bottom:-1px;padding:10px 0;font-size:16px;border-bottom:1px dashed #e4e8ea;}
.aw-index-news-list li:last-child{border-bottom-width:0;}
.aw-index-news-date{float:right;color:#bababa;font-size:14px;}
.aw-index-news-sort{margin-right:4px;color:#727272;}
.aw-index-news-font{color:#333;transition:all .2s ease;}
.aw-index-news-font:hover{color:#409eff;}
.btn-more-news{display:block;height:40px;margin-top:27px;color:#333;text-align:center;line-height:40px;font-size:16px;background-color:#e2e2e2;transition:all .2s ease;}
.btn-more-news:hover{color:#fff;background-color:#409eff;}

.aw-index-qywh{height:918px;background:url(../images/index-qywh.jpg) no-repeat center;}
.aw-index-qywh .aw-index-title-p{color:#fff;}
.aw-index-qywh-list{width:100%;margin-top:60px;overflow:hidden;}
.aw-index-qywh-list ul{width:1400px;overflow:hidden;}
.aw-index-qywh-list li{float:left;margin-right:161px;text-align:center;color:#fff;}
.aw-index-qywh-list h4{margin-top:50px;margin-bottom:15px;font-size:24px;font-weight:600;}
.aw-index-qywh-list p{font-size:16px;line-height:1.7;}
.icon-round{display:inline-block;padding:70px;background-color:rgba(255,255,255,.1);border-radius:50%;border:1px solid rgba(255,255,255,.5);}
.icon-qywh{display:block;width:150px;height:150px;background:url(../images/qywh.png) no-repeat;}
.icon-qywh-ddzj{background-position:0 0;}
.icon-qywh-ddjz{background-position:-150px 0;}
.icon-qywh-ddyh{background-position:-300px 0;}

.active .aw-index-qpgame-about,.active .aw-index-qpgame-text .btn-more,.active .aw-index-qpgame-ddz,
.active .aw-index-video-list,.active .video-show,.active .video-business,.active .video-game,.active .video-live,
.active .aw-index-news-slider,.active .aw-index-news-list-wrap,
.active .aw-index-title-h2, .active .aw-index-title-p,.active .icon-round,.active .aw-index-qywh-list h4,.active .aw-index-qywh-list p{animation:slideUp 1s ease-in-out both;}
.active .aw-index-qpgame-about{animation-delay:1.2s;}
.active .aw-index-qpgame-text .btn-more{animation-delay:1.4s;}
.active .aw-index-qpgame-ddz{animation-delay:1.6s;}
.active .aw-index-video-list{animation-delay:1s;}
.active .video-show{animation-delay:1.2s;}
.active .video-business{animation-delay:1.3s;}
.active .video-game{animation-delay:1.5s;}
.active .video-live{animation-delay:1.8s;}
.active .aw-index-news-slider{animation-delay:1.2s;}
.active .aw-index-news-list-wrap{animation-delay:1.4s;}
.active .aw-index-title-h2{animation-delay:.5s;}
.active .aw-index-title-p{animation-delay:.8s;}
.active .wenhua1 .icon-round{animation-delay:1s;}
.active .wenhua1 h4{animation-delay:1.3s;}
.active .wenhua1 p{animation-delay:1.5s;}
.active .wenhua2 .icon-round{animation-delay:1.1s;}
.active .wenhua2 h4{animation-delay:1.5s;}
.active .wenhua2 p{animation-delay:1.7s;}
.active .wenhua3 .icon-round{animation-delay:1.2s;}
.active .wenhua3 h4{animation-delay:1.7s;}
.active .wenhua3 p{animation-delay:1.9s;}

.aw-footer{background-color:#2f3238;color:#727b8b;}
.aw-footer-link{width:100%;overflow:hidden;padding:60px 0 30px;}
.aw-footer-dl{float:left;margin-right:135px;}
.aw-footer-dl-4{margin-right:85px;}
.aw-footer-dl dt{position:relative;margin-bottom:20px;padding-bottom:5px;color:#fff;}
.aw-footer-dl dt .icon-line{position:absolute;bottom:0;left:0;width:1em;height:1px;background-color:#fff;}
.aw-footer-dl dd{margin-bottom:8px;}
.aw-footer-dl dd a{color:#727b8b;transition:all .25s;}
.aw-footer-dl dd a:hover{color:#b4b9c5;}
.aw-footer-dl-gz{margin-right:0;padding-left:90px;border-left:1px solid rgba(255,255,255,.1);}
.aw-footer-dl-gz img{margin-bottom:5px;}
.index-address{float:left;margin-left:45px;margin-top:50px;}
.index-address li{margin-bottom:5px;font-size:14px;}
.icon-address{display:inline-block;width:30px;height:30px;margin-right:12px;vertical-align:middle;background:url(../images/index-address.png) no-repeat;}
.icon-phone{background-position:0 0;}
.icon-qq{background-position:-30px 0;}
.icon-email{background-position:-60px 0;}
.aw-footer-copyright{padding:25px 0;text-align:center;font-size:12px;line-height:2;border-top:1px solid rgba(255,255,255,.1);}
.aw-footer-copyright .line{margin-left:8px;margin-right:8px;}



@-webkit-keyframes slideUp{0%{opacity:0;-webkit-transform:translate3d(0,30px,0)}
to{opacity:1;-webkit-transform:translateZ(0)}
}
@keyframes slideUp{0%{opacity:0;transform:translate3d(0,30px,0)}
to{opacity:1;transform:translateZ(0)}
}
@-webkit-keyframes slideInBottom{0%{opacity:0;-webkit-transform:translate3d(0,100px,0)}
to{opacity:1;-webkit-transform:translateZ(0)}
}
@keyframes slideInBottom{0%{opacity:0;transform:translate3d(0,100px,0)}
to{opacity:1;transform:translateZ(0)}
}
@-webkit-keyframes slideInRight{0%{opacity:0;-webkit-transform:translate3d(100px,0,0)}
to{opacity:1;-webkit-transform:translateZ(0)}
}
@keyframes slideInRight{0%{opacity:0;transform:translate3d(100px,0,0)}
to{opacity:1;transform:translateZ(0)}
}
@-webkit-keyframes slideInLeft{0%{opacity:0;transform:translate3d(-100px,0,0)}
to{opacity:1;transform:translateZ(0)}
}
@-webkit-keyframes slideInLeftBanner{0%{opacity:1;transform:translate3d(-1000px,0,0)}
to{opacity:1;transform:translateZ(0)}
}
@-webkit-keyframes slideInLeftBannerMore{0%{transform:translate3d(-1000px,0,0)}
to{transform:translateZ(0)}
}
@-webkit-keyframes Updown{0%{-webkit-transform:translateZ(0)}
50%{-webkit-transform:translate3d(0,8px,0)}
to{-webkit-transform:translateZ(0)}
}
@keyframes Updown{0%{transform:translateZ(0)}
50%{transform:translate3d(0,8px,0)}
to{transform:translateZ(0)}
}
